%h1 Kolekcje
= link_to new_collection_path do
  %button.btn Dodaj nową

%table
  %thead
    %tr
      %th Nazwa
      %th Producent
      %th Ilość produktów
      %th Edytuj
      %th Usuń
  %tbody
    - @collections.each do |collection|
      %tr
        %td= collection.name
        %td= collection.producer
        %td
          - if collection.products.count > 0
            = link_to collection.products.count, collection_products_path(collection)
        %td
          = link_to "Edytuj", edit_collection_path(collection)
        %td
          = link_to "Usuń", collection_path(collection), method: :delete, confirm: "Na pewno chcesz usunąć kategorię #{collection.name}?"

%h3 Importuj z pliku
= form_tag import_collections_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Importuj"
