%h1 Producenci
= link_to new_producer_path do
  %button.btn Dodaj nowego

%table
  %thead
    %tr
      %th Nazwa
      %th Ilość kolekcji
      %th Ilość produktów
      %th Najlepszych ofert
      %th Edytuj
      %th Usuń
  %tbody
    - @producers.each do |producer|
      %tr
        %td= producer
        %td
          - if producer.collections.count > 0
            = producer.collections.count
        %td
          - if producer.products.count > 0
            = link_to producer.products.count, producer_products_path(producer)
        %td
          N/A
        %td
          = link_to "Edytuj", edit_producer_path(producer)
        %td
          = link_to "Usuń", producer_path(producer), method: :delete, confirm: "Na pewno chcesz usunąć producenta #{producer.name}?"

%h3 Importuj z pliku
= form_tag import_producers_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Importuj"
