<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet" xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="dupa">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Nazwa</Data></Cell>
        <Cell><Data ss:Type="String">Producent</Data></Cell>
        <Cell><Data ss:Type="String">Kolekcja</Data></Cell>
        <Cell><Data ss:Type="String">Ilość Ofert</Data></Cell>
        <Cell><Data ss:Type="String">Ropiętość Cenowa</Data></Cell>
        <Cell><Data ss:Type="String">Najtańsza Oferta</Data></Cell>
        <Cell><Data ss:Type="String">Pozycja</Data></Cell>
        <Cell><Data ss:Type="String">Różnica względem najtańszej</Data></Cell>
      </Row>
    <% @shop = Shop.find_by_id(session[:current_shop_id]) %>

    <% @products.each do |product| %>
      <Row>
        <Cell><Data ss:Type="String"><%= product.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.producer %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.collection %></Data></Cell>
        <Cell><Data ss:Type="String"><%= product.latest_offers.try(:count) %></Data></Cell>
        <% @prices = product.data_sets.latest_one.try(:prices) %>
        <% if @prices %>
          <Cell><Data ss:Type="String"><%= price_spread(@prices).try(:compact).try(:size) == 2 ? "#{price_spread(@prices)[0][1] / 100.0} zł - #{price_spread(@prices)[1][1] / 100.0} zł" : "" %></Data></Cell>
          <Cell><Data ss:Type="String"><%= price_spread(@prices).try(:compact).try(:size) == 2 ? "#{price_spread(@prices)[0][1] / 100.0} zł - #{price_spread(@prices)[0][0]}" : "" %></Data></Cell>
        <% end %>
        <Cell><Data ss:Type="String"><%= position_for_shop(@shop, @prices) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= difference_from_best(@shop, @prices) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= percentage_difference_from_best(@shop, @prices) %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
