%h1 Produkty
%span
  = link_to "Pobierz wszystkie jako XLS", products_path(producer_id: @producer.try(:id), collection_id: @producer.try(:id), format: :xls)
- if @collection
  %h2
    Kolekcja: #{@collection}
- if @producer
  %h2
    Producent: #{@producer}

- if @alphaParams
  = alphabetical_paginate @alphaParams

= link_to "Odśwież wszystkie z tej strony", refresh_collection_products_path( producer_id: @producer.try(:id), collection_id: @collection.try(:id), letter: params[:letter] )

%table#pagination_table
  %thead
    %tr
      %th Nazwa
      %th Link
      - unless @producer
        %th Producent
      - unless @collection
        %th Kolekcja
      %th Ilość ofert
      %th Rozpiętość cenowa
      %th Najtańsza oferta
      - if @shop = Shop.find_by_id(session[:current_shop_id])
        %th Pozycja #{@shop}
        %th{ colspan: 2} Różnica #{@shop} względem najtańszej
      %th Odśwież
  %tbody
    - @products.each do |product|
      %tr
        %td
          = link_to product, product_path(product)
        %td
          = link_to "Link", [ROADMAP[:ceneo][:url], product.base_list_url].join, target: :blank
        - unless @producer
          %td= product.producer
        - unless @collection
          %td= product.collection
        %td= product.latest_offers.try(:count)
        - @prices = product.data_sets.latest_one.try(:prices)
        %td
          - if @prices
            = price_spread(@prices).try(:compact).try(:size) == 2 ? "#{price_spread(@prices)[0][1] / 100.0} zł - #{price_spread(@prices)[1][1] / 100.0} zł" : ""
        %td
          - if @prices
            = price_spread(@prices).try(:compact).try(:size) == 2 ? "#{price_spread(@prices)[0][1] / 100.0} zł - #{price_spread(@prices)[0][0]}" : ""
        - if @shop
          %td
            = position_for_shop(@shop, @prices)
          %td
            = difference_from_best(@shop, @prices)
          %td
            = percentage_difference_from_best(@shop, @prices)
          %td
            = link_to "Odśwież", refresh_product_path(product, producer_id: @producer.try(:id), collection_id: @collection.try(:id), letter: params[:letter] )
