#product
  %h1 #{@product}
  .product-offers
    %h3 
      Historia ofert
      = link_to refresh_product_path(@product) do
        %button.btn Pobierz nowe oferty
    %span (maks. ostatnich 10 ofert)
    %table
      %thead
        %tr
          %th Data
          %th Ilość ofert
          %th Rozpiętość cenowa
          %th Najtańsza oferta
          - if @shop = Shop.find_by_id(session[:current_shop_id])
            %th Pozycja #{@shop}
            %th{ colspan: 2} Różnica #{@shop} względem najtańszej
      %tbody
        - @data_sets.each do |data_set|
          %tr
            %td= l data_set.created_at, format: :short
            %td= data_set.offers.count
            - @prices = data_set.prices
            %td
              - if @prices
                = price_spread(@prices).try(:compact).try(:size) == 2 ? "#{price_spread(@prices)[0][1] / 100.0} zł - #{price_spread(@prices)[1][1] / 100.0} zł" : ""
            %td
              - if @prices
                = price_spread(@prices).try(:compact).try(:size) == 2 ? "#{price_spread(@prices)[0][1] / 100.0} zł - #{price_spread(@prices)[0][0]}" : ""
            - if @shop
              %td
                = position_for_shop(@shop, @prices)
              %td
                = difference_from_best(@shop, @prices)
              %td
                = percentage_difference_from_best(@shop, @prices)
  .product-actions
    = simple_form_for @product do |f|
      = hidden_field_tag :products_to_update, nil, class: "products-to-update"
      .product-producer-info
        %h3 Producent
        = f.association :producer, label: false
        = f.submit 'Zmień producenta'
        = check_box_tag :with_selected_products
        Wraz z zaznaczonymi
      .product-collection-info
        %h3 Kolekcja
        = f.association :collection, label: false
        = f.submit 'Zmień kolekcję'
        = check_box_tag :with_selected_products
        Wraz z zaznaczonymi
  .other-products
    .products-from-collection
      - if @products_from_collection.any?
        %h3 Pozostałe produkty kolekcji
        = select_tag @product, options_from_collection_for_select(@products_from_collection, :id, :name), { multiple: true, size: @products_from_collection.count, class: "products-select" }
    .similar-products
      - if @similar_products.any?
        %h3 Podobne produkty
        = select_tag @product, options_from_collection_for_select(@similar_products, :id, :name), { multiple: true, size: @similar_products.count, class: "products-select" }
