= link_to "Ceneo Scrapper", root_path, :class => 'brand'
= link_to "Producenci", producers_path
= link_to "Kolekcje", collections_path
= link_to "Produkty", products_path
= select_tag "shops", options_from_collection_for_select(Shop.order("LOWER(name) ASC"), :id, :name, session[:current_shop_id]), { prompt: "wybierz sklep" }
